/* frontend/public/style.css */

.bodyMain {
    margin: 0;
    padding: 0;
    background-color: #5486c7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%2333F6FF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2311e6f9' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2300d7f2' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2300c7ea' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2300b8e1' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2300a8d6' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%230099cb' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23118abe' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23207bb1' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%232a6ca2' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%232f5e93' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23335083' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23344273' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23333563' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23302853' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%232c1b43' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23260f33' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    gap: 20px;
}

.containerMain {
    max-width: 1200px;
    width: 90%;
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

#map {
    height: 600px;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

#favorites-section {
    width: 28%;
    background: #eef;
    padding: 15px;
    border-radius: 8px;
}

#favorites-list {
    list-style: none;
    padding: 0;
}

#favorites-list li {
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#auth-form {
    background: #fafafa;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
}